__history/
__recovery/

*.~*
*.dsk
*.local
*.identcache
*.stat
*.dcu
*.ddp
*.cfg
*.bak
*.dcp
*.bpl

*.tmp
*.log

Win32/Debug/
Win32/Release/
Win64/Debug/
Win64/Release/
Linux64/Debug/
Linux64/Release/
OSX32/Debug/
OSX32/Release/

*.tvsconfig
*.tvsconfig1

*.vscode/
*.idea/

**/__history/
**/__recovery/

**/Debug/
**/Release/

*.exe
*.dll
*.map
*.tds
